body {
  font-family: sans-serif;
  background-color: #fffffa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: #9fd8cb;
  font-size: 5em;
  margin: 0.5em auto -0.5em;
  text-align: right;
}
h2 {
  color: #424b54;
  margin-bottom: -0.24em;
  margin-left: -0.15em;
  text-shadow: 2px 2px 0 white;
  font-size: 2em;
}
li {
  list-style-type: none;
}
.content {
  background-color: #424b54;
  color: #fffffa;
  padding: 1em;
  line-height: 1.25em;
}
.section_title {
  font-weight: 900;
  letter-spacing: 0.06em;
  margin-top: 0.5em;
}
.component_name {
  font-style: italic;
}
.component_comment {
  opacity: 0.7;
}
.week {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-right:  0.3em;
}
.day {
  width: 30em;
}